@import './styles/variables.scss';
@import './styles/slider.scss';

* {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  text-transform: uppercase;
}
body {
  background-color: $background-color;
  margin: 0;
}
.app {
  display: flex;
  justify-content: center;
}
